.error-messages {
  padding: 10px;
}
.error-box {
  border: 2px solid red;
  padding: 10px;
}

.error-title {
  font-weight: bold;
}

.error-list {
  margin-top: 10px;
}

.error-box2 {
  border: 2px solid red;
  padding: 10px;
}

.error-title2 {
  font-weight: bold;
}

.error-message2 {
  color: red;
}